body {	
	background: #108dc7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a:hover {
    background-color: orange;
}

a:active {
	background-color: orange;
}

#submit {
	margin-top: 1em;
}

.ui.form textarea {
	margin-top: 10px;
}

#delete {
	display: inline;
}

.ui.inverted.menu a.item:hover {
    background: orange;
    color: #ffffff;
}

.ui.inverted.menu .header.item {
    margin: 0em;
    background: blue;
}

.ui.huge.header {
    text-align: center;
}

.ui.green.button {
	margin-top: 20px;
}

div span {
	color: blue;
	margin-top: 20px;
}